h1 {
    text-align: center;
}

nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav li {
    display: inline;
}

nav a{
    display: inline-block;
    padding: 5px;
}

@media screen and (max-width: 600px){
    .column {
        width: 100%;
    }
}
.column {
    float: left;
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
.social-links {
    list-style: none;
    text-align: center;
}

.social-links li{
    display: inline-block;
    margin-right: 1em;

}

#bottom-note {
    text-align: center;
    font-size: .75em;
}
