@charset "UTF-8";

/*Header*/
h1 {
    text-align: center;
}

/*Limits website to the center*/
#page-container {
    max-width: 1024px; margin: 0 auto;
}
/*Navbar*/
nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav li {
    display: inline;
}

nav a{
    display: inline-block;
    padding: 5px;
}

/*Projects Grid */
@media screen and (max-width: 600px){
    .column {
        width: 100%;
    }
}
.column {
    float: left;
    width: 50%;
}


.row:after { /* Clear floats after the columns */
    content: "";
    display: table;
    clear: both;
}

/* Technologies*/
.technologies {
    list-style: none;
    text-align: center;
}

.technologies li {
    display: inline-block;
    margin-right: 1em;
}


/* Footer */
.social-links {
    list-style: none;
    text-align: center;
}

.social-links li{
    display: inline-block;
    margin: 10px;
}

#bottom-note {
    text-align: center;
    font-size: .75em;
    margin: 0px;
}
