@charset "UTF-8";

/*Header*/
h1{
    text-align: center;
    font-size: 5rem;

}

.title-gradient{
    /* Fallback: Set a background color. */
    background-color: teal;

    background: linear-gradient(270deg, #3ba4c6, #3bc643, #15e3f3, #e7a91f, #0a50e9);
    background-size: 1000% 1000%;
    background-repeat: repeat;

    -webkit-animation: title-gradient 21s ease infinite;
    -moz-animation: title-gradient 21s ease infinite;
    animation: title-gradient 21s ease infinite;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

@-webkit-keyframes title-gradient {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}
@-moz-keyframes title-gradient {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}
@keyframes title-gradient {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}

/*Limits website to the center*/
#page-container {
    max-width: 1024px; margin: 0 auto;
}
/*Navbar*/
nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav li {
    display: inline;
}

nav a{
    display: inline-block;
    padding: 5px;
}

/*Projects Grid */
@media screen and (max-width: 600px){
    .column {
        width: 100%;
    }
}
.column {
    float: left;
    width: 50%;
}


.row:after { /* Clear floats after the columns */
    content: "";
    display: table;
    clear: both;
}

/* Technologies*/
.technologies {
    list-style: none;
    text-align: center;
}

.technologies li {
    display: inline-block;
    margin-right: 1em;
}


/* Footer */
.social-links {
    list-style: none;
    text-align: right;
    padding: 0;
    margin-bottom: 1px;
}

.social-links li{
    display: inline-block;
    margin: 10px;
}

#bottom-note {
    text-align: right;
    font-size: .75em;
    margin: 0px;
    padding: 2px;
}
